/* font-weight:
300 - Light
400 - Regular (Normal)
800 - Extra Bold       */

@font-face {
  font-family: 'Gilroy Extra Bold';
  src: url('../fonts/web/gilroyextrabold.woff2') format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/web/gilroylight.woff2') format("woff2");
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;


  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

h2,
h3 {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
}

a {
  text-decoration: none;
}

.navigation {
  color: #000000;

  background-color: #f7e296;
}

.navigation-site,
.accent-link  {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  text-transform: uppercase;
}

.navigation-catalog {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
}

.navigation-site,
.navigation-catalog,
.navigation-user {
  list-style: none;
}

.navigation a,
.accent-link {
  color: #000000;
}

.navigation a:hover,
.navigation a:focus {
  opacity: 0.6;
}

.navigation a:active,
.search,
.logout-link.active,
.accent-link:active {
  opacity: 0.3;
}

.inactive {
  /* display: none; */
}

.accent-link {

}

.slider {}

.slider td {
  font-family: 'Gilroy Light', Arial, sans-serif;;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;

  width: 160px;
}

.slider th {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.slider__list {
  list-style: none;
}


.catalog {}

.catalog__list {
  list-style: none;
}

.catalog__item img {
  background-color: #f7e296;
}

.catalog__item a {
  color: #000000;
}

.catalog__item a:hover img,
.catalog__item a:focus img{
  background-color: #ffc600;
}

.catalog__item a:active .catalog__img {
  opacity: 0.3;
}

.catalog__item b {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.services {}

.services__links-list,
.services__list {
  list-style: none;
}
